{% extends "app.html" %} {% block content %}
<div class="login-form-container">
  <p class="your-spotlight" style="margin-bottom: 20px; margin-top: -10px">
    Login
  </p>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-col-25">
        <label for="{{ form.username.id_for_label }}" class="form-label"
          >Username</label
        >
      </div>
      <input
        type="username"
        name="{{ form.username.name}}"
        class="form-col-75 login-input"
        value="{{form.username.value}}"
        required
      />
    </div>
    <div class="form-row">
      <div class="form-col-25">
        <label for="{{ form.password.id_for_label }}" class="form-label"
          >Password</label
        >
      </div>
      <input
        type="password"
        name="{{ form.password.name}}"
        class="form-col-75 login-input"
        value="{{form.password.value}}"
        required
      />
    </div>
    {% if form.non_field_errors %}
    <p class="error">{{ form.non_field_errors.as_ul }}</p>
    {% endif %}
    <div class="form-row button-row">
      <button type="submit" class="add-button">LOGIN</button>
      <a href="{% url 'register' %}" class="back-button">
        CREATE A NEW ACCOUNT
      </a>
    </div>
  </form>
</div>

{% endblock %}
